<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Wasim Sayyed</h2>
            <h4>wasimxprt@gmail.com</h4>
        </div>
        <img src="../../../../../assets/img/Jessica_Rothe.png" alt="Alessio">
    </div>

    <!-- <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a> -->

    <mat-divider></mat-divider>

    <h2 matSubheader>Administration</h2>



    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard">
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/users">
        <mat-icon>supervised_user_circle</mat-icon>
        Manage Users
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/course">
        <mat-icon>folder_open</mat-icon>
        Manage Course
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/vehicle">
        <mat-icon>directions_car</mat-icon>
        Manage Vehicle
    </a>




</mat-nav-list>