<section id="top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="top_1 clearfix">
                    <div class="col-sm-6">
                        <div class="top_1l">
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="top_1r text-right">
                            <ul>
                                <li><i class="fa fa-envelope"></i> wasimxprt@gmail.com</li>
                                <li><i class="fa fa-phone"></i> +91 9970112972</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="header" class="clearfix cd-secondary-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                        <a class="navbar-brand" href="/home"><i class="fa fa-car"></i> Maruti</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a class="m_tag" [routerLink]="['home']">Home</a></li>
                            <li><a class="m_tag" [routerLink]="['about']">About</a></li>
                            <li><a class="m_tag" [routerLink]="['services']">Services</a></li>
                            <li><a class="m_tag" [routerLink]="['gallery']">Gallery</a></li>
                            <li><a class="m_tag " [routerLink]="['contact']">Contact</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right ">
                            <li><a class="m_tag " href="# ">Sign Up</a></li>
                            <!-- <li class="dropdown ">
                                <a href="# " class="dropdown-toggle m_tag " data-toggle="dropdown ">Sign in <b class="caret "></b></a>
                                <ul class="dropdown-menu " style="padding: 15px;min-width: 250px; ">
                                    <li>
                                        <div class="row ">
                                            <div class="col-md-12 ">
                                                <form class="form " method="post " action="# " accept-charset="UTF-8 " id="login-nav ">
                                                    <div class="form-group ">
                                                        <label class="sr-only " for="exampleInputEmail2 ">Email address</label>
                                                        <input type="email " class="form-control " id="exampleInputEmail2 " placeholder="Email address " required=" ">
                                                    </div>
                                                    <div class="form-group ">
                                                        <label class="sr-only " for="exampleInputPassword2 ">Password</label>
                                                        <input type="password " class="form-control " id="exampleInputPassword2 " placeholder="Password " required=" ">
                                                    </div>
                                                    <div class="checkbox ">
                                                        <label>
                                          <input type="checkbox "> Remember me
                                          </label>
                                                    </div>
                                                    <div class="form-group ">
                                                        <button type="submit " class="btn btn-success btn-block button_1 ">Sign in</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider "></li>
                                    <li>
                                        <input class="btn btn-primary btn-block button_2 " type="button " id="sign-in-google " value="Sign In with Google ">
                                        <input class="btn btn-primary btn-block button_3 " type="button " id="sign-in-twitter " value="Sign In with Twitter ">
                                    </li>
                                </ul>
                            </li> -->
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
</section>