<div class="wrapper-container">
    <input type="checkbox" id="check" />
    <header>
        <div class="left_area">
            <h3>
                DriveTek
            </h3>
        </div>
        <div class="menu">
            <label htmlFor="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
          </label>
        </div>
        <div class="right_area">
            <a href="" class="dropdown-toggle">
                <img src="../../../../assets/img/Jessica_Rothe.png" class="user-image" alt="User Image" />
                <span class="hidden-xs">Alexander Pierce</span>
            </a>
        </div>
    </header>
    <div class="sidebar">
        <img class="profile_image" src="../../../../assets/img/Jessica_Rothe.png" alt="" />
        <h4>Jessica</h4>
        <nav class="side-nav">
            <ul class="list-unstyled">

                <li>
                    <a href="" class="list_link">
                        <i class="fa fa-cogs">
                  <span>Configuration</span>
                </i>
                    </a>
                </li>
                <li>
                    <a href="" class="list_link">
                        <i class="fa fa-user">
                  <span>Members</span>
                </i>
                    </a>
                </li>
                <li>
                    <a href="" class="list_link">
                        <i class="fa fa-info-circle">
                  <span>Notice Board</span>
                </i>
                    </a>
                </li>

                <li>
                    <a href="" class="list_link">
                        <i class="fa fa-car">
                  <span>Parking</span>
                </i>
                    </a>
                </li>

                <li>
                    <a href="" class="list_link">
                        <i class="fa fa-gavel">
                  <span>Maintenance</span>
                </i>
                    </a>
                </li>
                <li>
                    <a href="" class="list_link">
                        <i class="fa fa-users">
                  <span>Events</span>
                </i>
                    </a>
                </li>
                <li>
                    <a href="" class="list_link">
                        <i class="fa fa-users">
                  <span>Events</span>
                </i>
                    </a>
                </li>
                <li>
                    <a href="" class="list_link">
                        <i class="fa fa-users">
                  <span>Events</span>
                </i>
                    </a>
                </li>
                <li>
                    <a href="" class="list_link">
                        <i class="fa fa-users">
                  <span>Events</span>
                </i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <section class="main-content">
        <h1>Dashboard</h1>

        <div class="dashboard-info">
            <div class="box box_registration">
                <div class="inner">
                    <h3>150</h3>
                    <p>New Orders</p>
                </div>
                <div class="icon icon_registration">
                    <i class="fa fa-shopping-bag fa-lg"></i>
                </div>
            </div>
            <div class="box box_tasks">
                <div class="inner">
                    <h3>150</h3>
                    <p>New Orders</p>
                </div>
                <div class="icon box_registration">iCon</div>
            </div>
            <div class="box box_announcement">
                <div class="inner">
                    <h3>150</h3>
                    <p>New Orders</p>
                </div>
                <div class="icon icon_registration">iCon</div>
            </div>
            <div class="box box_visitors">
                <div class="inner">
                    <h3>150</h3>
                    <p>New Orders</p>
                </div>
                <div class="icon icon_registration">iCon</div>
            </div>
        </div>
    </section>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.4.0
        </div>
        <strong>
          Copyright © 2019-2020 <a href="#">Wasim Sayyed</a>.
        </strong>All rights reserved.
    </footer>
</div>