<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="footer_main clearfix">
                    <div class="col-sm-3">
                        <div class="footer_1">
                            <h3>OFFICES ADDRESS</h3>
                            <p>Alkasa society, Next to H V desai eye hospital, Tarawade vasti, Mohammedwadi road, Hadapsar Pune-411060,</p>
                            <h4><i class="fa fa-phone"></i>+91 9970112972</h4>
                            <h5><i class="fa fa-envelope"></i><a href="#">wasimxprt@gmail.com</a></h5>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer_1">
                            <h3>SERVICES</h3>
                        </div>
                        <div class="col-sm-12 space_all">
                            <div class="col-sm-6 space_all">
                                <div class="footer_2">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-arrow-right"></i>Motorcycle - Only License</a></li>
                                        <li><a href="#"><i class="fa fa-arrow-right"></i>LMV (TR) - Only License</a></li>
                                        <li><a href="#"><i class="fa fa-arrow-right"></i>LMV (NT) - Only License</a></li>
                                        <li><a href="#"><i class="fa fa-arrow-right"></i>Truck/Bus - Only License</a></li>
                                        <li><a href="#"><i class="fa fa-arrow-right"></i>New Vehicle Registration</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 space_all">
                                <div class="footer_2">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-arrow-right"></i>Vehicle Passing</a></li>
                                        <li><a href="#"><i class="fa fa-arrow-right"></i>Transfer Of Ownership</a></li>
                                        <li><a href="#"><i class="fa fa-arrow-right"></i>N.O.C. for Vehicles</a></li>
                                        <li><a href="#"><i class="fa fa-arrow-right"></i> Duplicate Driving License</a></li>
                                        <li><a href="#"><i class="fa fa-arrow-right"></i>Change of Address</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_1">
                            <h3> SUBSCRIBE</h3>
                        </div>
                        <div class="col-sm-12 space_all">
                            <div class="footer_3">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-sm-12 space_all">
                            <div class="footer_4">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-sm-12 space_all">
                            <div class="footer_5 clearfix">
                                <a class="button hvr-shutter-out-horizontal" href="#" class="button">SUBSCRIBE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6 space_all">
                    <div class="footer_6">
                        <p>© 2021 Maruti. All Rights Reserved. Design By <a href="#">Stark web services</a></p>
                    </div>
                </div>
                <div class="col-sm-6 space_all">
                    <div class="footer_7">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>