<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="../../../../assets/img/alessio.jpg" alt="login" class="login-card-img">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <img src="../../../../assets/img/logo2.png" alt="logo" class="logo">
                        </div>
                        <p class="login-card-description">Signup into your account</p>
                        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                            <div class="form-group">
                                <label for="fname" class="sr-only">First Name</label>
                                <input type="text" name="fname" id="fname" [(ngModel)]="form.fname" required minlength="3" maxlength="20" #fname="ngModel" class="form-control" placeholder="First Name">
                                <div class="alert alert-danger" *ngIf="f.submitted && fname.invalid">
                                    <div *ngIf="fname.errors.required">First Name is required</div>
                                    <div *ngIf="fname.errors.minlength">
                                        First Name must be at least 3 characters
                                    </div>
                                    <div *ngIf="fname.errors.maxlength">
                                        First Name must be at most 20 characters
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lname" class="sr-only">Last Name</label>
                                <input type="text" name="lname" id="lname" [(ngModel)]="form.lname" required minlength="3" maxlength="20" #lname="ngModel" class="form-control" placeholder="Last Name">
                                <div class="alert alert-danger" *ngIf="f.submitted && lname.invalid">
                                    <div *ngIf="lname.errors.required">Last Name is required</div>
                                    <div *ngIf="lname.errors.minlength">
                                        Last Name must be at least 3 characters
                                    </div>
                                    <div *ngIf="lname.errors.maxlength">
                                        Last Name must be at most 20 characters
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" name="email" id="email" [(ngModel)]="form.email" required email #email="ngModel" class="form-control" placeholder="Email address">
                                <div class="alert alert-danger" *ngIf="f.submitted && email.invalid">
                                    <div *ngIf="email.errors.required">Email is required</div>
                                    <div *ngIf="email.errors.email">
                                        Email must be a valid email address
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" name="password" id="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" class="form-control" placeholder="Password">
                                <div class="alert alert-danger" *ngIf="f.submitted && password.invalid">
                                    <div *ngIf="password.errors.required">Password is required</div>
                                    <div *ngIf="password.errors.minlength">
                                        Password must be at least 6 characters
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="cpassword" class="sr-only">Confirm Password</label>
                                <input type="password" name="cpassword" id="cpassword" [(ngModel)]="form.cpassword" required minlength="6" #cpassword="ngModel" class="form-control" placeholder="Confirm password">
                                <div class="alert alert-danger" *ngIf="f.submitted && password.invalid">
                                    <div *ngIf="password.errors.required">Confirm Password is required</div>
                                    <div *ngIf="password.errors.minlength">
                                        Password must be at least 6 characters
                                    </div>
                                </div>
                            </div>
                            <input name="register" id="register" class="btn btn-block login-btn mb-4" type="submit" value="Register">
                        </form>

                        <p class="login-card-footer-text">Already registered? <a href="#" routerLink="/admin/login" class="text-reset">Login here</a></p>
                        <nav class="login-card-footer-nav">
                            <a href="#!">Terms of use.</a>
                            <a href="#!">Privacy policy</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>