@font-face {
    font-family: YourFontFamily;
    src: url("../assets/fonts/FontAwesome.otf") format("truetype");
}

body {
    font-family: 'Alata', sans-serif;
    background-color: #000;
}

h1 {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 45px;
    margin-top: 10px;
    font-weight: bold;
}

h2 {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 36px;
    font-weight: bold;
}

h3 {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 26px;
    margin-top: 10px;
    font-weight: bold;
}

h4 {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

h5 {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 16px;
    margin-top: 10px;
}

h6 {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 14px;
    margin-top: 10px;
    color: #666;
}

a {
    color: #000;
    &:hover {
        text-decoration: none;
        color: #508885;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    font-size: 16px;
    color: #000;
}

p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    margin-top: 10px;
    color: #000;
}

.space_left {
    padding-left: 0;
    margin-left: 0;
}

.space_right {
    padding-right: 0;
    margin-right: 0;
}

.space_all {
    padding: 0;
    margin: 0;
}

.img-responsive {
    width: 100% !important;
}

.button {
    background: #fff;
    display: inline-block;
    color: #000;
    padding: 13px 30px 15px 30px;
    margin-top: 15px;
    border: 2px solid #000;
    font-size: 17px;
}

.button {
    &:hover {
        color: #fff;
    }
}

.button_1 {
    border: 1px solid #000;
    padding: 10px 20px 10px 20px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    &:hover {
        opacity: 0.8;
        background: #508885;
        border: 1px solid #508885;
        color: #fff;
    }
}

.button_2 {
    background: #bb0000;
    color: #fff;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
        opacity: 0.8;
        background: #bb0000;
        color: #fff;
    }
}

.button_3 {
    background: #55ACEE;
    color: #fff;
    display: block;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
        opacity: 0.8;
        background: #55ACEE;
        color: #fff;
    }
}

.button_4 {
    background: #6AAF08;
    color: #fff;
    display: inline-block;
    padding: 13px 30px 15px 30px;
    margin-top: 15px;
}

.bg {
    .hvr-shutter-out-horizontal {
        &:before {
            background: #2E1E13;
        }
    }
}

.border_none {
    border: none !important;
}

.mgt {
    margin-top: 0 !important;
}

.mgt1 {
    margin-bottom: 0 !important;
}

.bold {
    font-weight: bold;
    color: #000;
}

.hvr-shutter-out-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #616969;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover {
        color: white;
        &:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
    &:focus {
        color: white;
        &:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
    &:active {
        color: white;
        &:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
}

#top {
    background: #3c8dbc;
    padding-top: 4px;
    padding-bottom: 4px;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
    li {
        display: inline;
        margin: 0 2px;
    }
}

.social-network {
    a.icoRss {
        &:hover {
            background-color: #F56505;
            i {
                color: #fff;
            }
        }
    }
    a.icoFacebook {
        &:hover {
            background-color: #3B5998;
            i {
                color: #fff;
            }
        }
    }
    a.icoTwitter {
        &:hover {
            background-color: #33ccff;
            i {
                color: #fff;
            }
        }
    }
    a.icoGoogle {
        &:hover {
            background-color: #BD3518;
            i {
                color: #fff;
            }
        }
    }
    a.icoVimeo {
        &:hover {
            background-color: #0590B8;
            i {
                color: #fff;
            }
        }
    }
    a.icoLinkedin {
        &:hover {
            background-color: #007bb7;
            i {
                color: #fff;
            }
        }
    }
}

a.socialIcon {
    &:hover {
        color: #44BCDD;
    }
}

.socialHoverClass {
    color: #44BCDD;
}

.social-circle {
    li {
        a {
            display: inline-block;
            position: relative;
            margin: 0 auto 0 auto;
            text-align: center;
            width: 35px;
            height: 35px;
            font-size: 14px;
            &:hover {
                i {
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -ms--transform: rotate(360deg);
                    transform: rotate(360deg);
                    -webkit-transition: all 0.2s;
                    -moz-transition: all 0.2s;
                    -o-transition: all 0.2s;
                    -ms-transition: all 0.2s;
                    transition: all 0.2s;
                }
            }
        }
        i {
            margin: 0;
            line-height: 35px;
            text-align: center;
        }
    }
    i {
        color: #fff;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
    }
}

.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.top_1l {
    a {
        border: 1px solid #fff;
    }
}

.top_1r {
    ul {
        li {
            display: inline-block;
            color: #fff;
            padding-left: 5px;
            padding-right: 5px;
            i {
                margin-right: 5px;
                font-size: 14px;
                border: 1px solid #fff;
                width: 35px;
                height: 35px;
                text-align: center;
                line-height: 35px;
                &:hover {
                    background: #69442b;
                    color: #fff;
                }
            }
        }
    }
}

.cd-secondary-nav {
    .is-visible {
        visibility: visible;
        transform: scale(1);
        transition: transform 0.3s, visibility 0s 0s;
    }
}

.cd-secondary-nav.is-fixed {
    z-index: 9999;
    position: fixed;
    left: auto;
    top: 0;
    width: 100%;
}

#header {
    background-color: #616969;
    box-shadow: 0 0 2px black;
    .navbar-nav {
        padding-left: 60px;
        padding-top: 0px;
        >li {
            >.dropdown-menu {
                text-align: center;
            }
        }
    }
    .navbar {
        border: none;
        background: none;
        min-height: auto;
        margin-bottom: 0;
        border-radius: 0;
    }
    .navbar-brand {
        display: table;
        position: relative;
        z-index: 9;
        margin-right: 80px;
        font-size: 35px;
        color: #000 !important;
        font-weight: bold;
        padding-top: 20px;
        span {
            color: #6AAF08;
        }
        i {
            vertical-align: middle;
        }
        &:before {
            right: -50px;
            width: 80%;
            transform: skew(30deg);
            -webkit-transform: skew( 30deg);
            -moz-transform: skew( 30deg);
            -o-transform: skew( 30deg);
            -ms-transform: skew( 30deg);
            background-color: #fff;
            content: "";
            position: absolute;
            bottom: 0;
            height: 100%;
            z-index: -1;
        }
        &:after {
            right: 10%;
            width: 2000px;
        }
    }
}

.navbar-brand {
    &:after {
        background-color: #fff;
        content: "";
        position: absolute;
        bottom: 0;
        height: 100%;
        z-index: -1;
    }
}

.m_tag {
    color: #fff !important;
    font-size: 18px;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    &:hover {
        background: #989a9a !important;
    }
    &:focus {
        background: #989a9a !important;
    }
}

.active_m {
    background: #989a9a;
}

.drop_m {
    li {
        a {
            padding-top: 8px;
            padding-bottom: 8px;
            &:hover {
                background: #616969 !important;
                color: #fff !important;
            }
        }
    }
}

#footer {
    padding-top: 25px;
    padding-bottom: 20px;
    background: #2f323a;
    .form-control {
        border-radius: 0px;
    }
}

.footer_1 {
    h3 {
        color: #FFFFFF;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }
    p {
        color: #CCCCCC;
        padding-top: 10px;
        line-height: 28px;
    }
    i {
        padding-right: 20px;
        color: #fff;
        padding-bottom: 17px;
    }
    h4 {
        color: #CCCCCC;
        font-size: 16px;
    }
    h5 {
        a {
            color: #CCCCCC;
            font-size: 16px;
            &:hover {
                color: #fff;
            }
        }
    }
}

.footer_2 {
    ul {
        padding-top: 20px;
    }
    li {
        line-height: 33px;
        a {
            color: #CCCCCC;
            font-size: 16px;
            &:hover {
                color: #fff;
            }
        }
    }
    i {
        padding-right: 10px;
    }
}

.footer_3 {
    padding-top: 30px;
    padding-bottom: 20px;
    input {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.footer_4 {
    input {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.footer_5 {
    padding-top: 0px;
}

.footer_main {
    border-bottom: 1px solid #535456;
}

.footer_6 {
    p {
        color: #ccc;
        a {
            color: #ccc;
            &:hover {
                color: #fff;
            }
        }
    }
}

.footer_7 {
    ul {
        text-align: right;
        padding-top: 10px;
    }
    li {
        display: inline;
        margin: 8px;
        a {
            color: #CCCCCC;
            font-size: 17px;
            &:hover {
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #top {
        display: none;
    }
    #header {
        .navbar-brand {
            margin-right: 0px;
            font-size: 25px;
            padding: 4px;
            padding-top: 14px;
            padding-left: 10px;
        }
        .navbar-default {
            .navbar-toggle {
                border-color: #fff;
                background-color: #fff;
            }
        }
        .navbar-nav {
            padding-left: 0px;
            text-align: center;
            .open {
                .dropdown-menu {
                    background-color: white;
                }
            }
        }
        .col-sm-12 {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .m_tag {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .navbar-collapse {
        max-height: none;
    }
    .cd-secondary-nav.is-fixed {
        position: static;
    }
    #footer {
        text-align: center;
    }
    .footer_2 {
        li {
            display: inline-block;
        }
        ul {
            padding-top: 10px;
        }
    }
}

@media (min-width:768px) and (max-width:991px) {
    #top {
        .social-circle {
            li {
                a {
                    width: 28px;
                    height: 28px;
                    font-size: 13px;
                }
                i {
                    line-height: 28px;
                }
            }
        }
    }
    .top_1r {
        ul {
            li {
                i {
                    font-size: 13px;
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                }
                font-size: 12px;
            }
        }
    }
    #header {
        .navbar-nav {
            padding-left: 0px;
        }
        .nav {
            >li {
                >a {
                    padding: 10px 4px;
                }
            }
        }
        .navbar-brand {
            margin-right: 80px;
            font-size: 23px;
            &:before {
                right: -20px;
            }
        }
    }
    .m_tag {
        font-size: 12px;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    #top {
        .social-circle {
            li {
                a {
                    width: 28px;
                    height: 28px;
                    font-size: 13px;
                }
                i {
                    line-height: 28px;
                }
            }
        }
    }
    .top_1r {
        ul {
            li {
                i {
                    font-size: 13px;
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                }
                padding-left: 5px;
                padding-right: 5px;
                font-size: 14px;
            }
        }
    }
    #header {
        .navbar-nav {
            padding-left: 0px;
        }
        .nav {
            >li {
                >a {
                    padding: 10px 5px;
                }
            }
        }
        .navbar-brand {
            margin-right: 140px;
            font-size: 33px;
            margin-right: 80px;
            &:before {
                right: -20px;
            }
        }
    }
    .m_tag {
        font-size: 17px;
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }
    .footer_6 {
        p {
            font-size: 15px;
            padding-top: 3px;
            a {
                font-size: 14px;
            }
        }
    }
}

@media (min-width:1201px) and (max-width:1325px) {
    #header {
        .nav {
            >li {
                >a {
                    padding: 10px 9px;
                }
            }
        }
    }
    .m_tag {
        font-size: 17px;
    }
}