<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="../../../../assets/img/alessio.jpg" alt="login" class="login-card-img">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <img src="../../../../assets/img/logo2.png" alt="logo" class="logo">
                        </div>
                        <p class="login-card-description">Sign into your account</p>
                        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" name="email" id="email" name="email" [(ngModel)]="form.email" required #email="ngModel" class="form-control" placeholder="Email address">
                                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && email.invalid">
                                    Email is required!
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" name="password" id="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" class="form-control" placeholder="Password">
                                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                                    <div *ngIf="password.errors.required">Password is required</div>
                                    <div *ngIf="password.errors.minlength">
                                        Password must be at least 6 characters
                                    </div>
                                </div>
                            </div>
                            <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Login">
                            <div class="form-group">
                                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                                    Login failed: {{ errorMessage }}
                                </div>
                            </div>
                        </form>
                        <div class="alert alert-success" *ngIf="isLoggedIn">
                            Logged in as {{ roles }}.
                        </div>
                        <a href="#!" class="forgot-password-link">Forgot password?</a>
                        <p class="login-card-footer-text">Don't have an account? <a href="#" routerLink="/admin/register" class="text-reset">Register here</a></p>
                        <nav class="login-card-footer-nav">
                            <a href="#!">Terms of use.</a>
                            <a href="#!">Privacy policy</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>