@import '../../../../../styles/colors';
@import '../../../../../styles/font';
@import '../../../../../styles/variables';
.header {
    background-color: $header-background-color;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    height: $header-height;
    &__title {
        display: flex;
        align-items: center;
    }
    &__title-button {
        background-color: $header-button-background-color;
        box-shadow: none;
        &:hover {
            background-color: $header-button-background-color-hover;
        }
        @media (max-width: $small) {
            margin-top: 0;
        }
    }
    &__title-button-icon {
        color: $header-button-font-color;
    }
    &__title-text {
        color: $header-title-font-color;
        margin-left: 32px;
        font-weight: $fw-lighter;
        @media (max-width: $small) {
            display: none;
        }
    }
}

.header-toolbar {
    display: flex;
    align-items: center;
    .unlock-button {
        border-color: $green;
        margin-right: 16px;
        text-transform: uppercase;
        background-color: $green;
        color: white;
        letter-spacing: .0892857143em;
        @media (max-width: $small) {
            display: none;
        }
    }
}

.search {
    display: flex;
    height: 36px;
    border-radius: 32px;
    box-sizing: border-box;
    align-items: center;
    width: 36px;
    padding-left: 4px;
    cursor: pointer;
    flex-direction: row-reverse;
    &:hover {
        background-color: $black-08;
    }
    @media (max-width: $small) {
        display: none;
    }
}

.show-search-input {
    animation: 0.3s open_search;
    width: 250px;
    padding-left: 22.4px;
    background-color: $black-08;
}

.search-input {
    color: $white;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 19px;
    font-size: $fs-small;
    background-color: transparent;
    border: none;
    outline: none;
    height: 36px;
    width: 100%;
    &::-webkit-input-placeholder {
        color: $white-35;
    }
}

.search-icon {
    padding: 0 7px 3px 0;
    color: $white-35;
}

.open-search {
    animation: 0.3s move_search-icon;
    padding-right: 16px;
    padding-left: 4px;
}

@keyframes open_search {
    from {
        width: 36px;
    }
    to {
        width: 250px;
    }
}

@keyframes open_search_large {
    from {
        width: 36px;
    }
    to {
        width: 150px;
    }
}

@keyframes move_search-icon {
    from {
        padding: 0 7px 3px 0;
    }
    to {
        padding-right: 16px;
    }
}