<section id="center" class="center_home">
    <div class="banner">
        <div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">
            <!-- Wrapper-for-Slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <!-- First-Slide -->
                    <img src="assets/img/1.jpg" alt="" class="img-responsive">
                    <div class="carousel-caption kb_caption kb_caption_right">
                        <h1 data-animation="animated flipInX" class="">We Provide Our best Service</h1>
                        <p data-animation="animated flipInX" class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled [...]</p>
                        <h4><a class="button hvr-shutter-out-horizontal" href="#">Read More</a></h4>
                    </div>
                </div>
                <div class="item">
                    <!-- Second-Slide -->
                    <img src="assets/img/2.jpg" alt="" class="img-responsive">
                    <div class="carousel-caption kb_caption kb_caption_right">
                        <h1 data-animation="animated fadeInDown">We Provide Our best Service</h1>
                        <p data-animation="animated fadeInUp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled [...]</p>
                        <h4><a class="button hvr-shutter-out-horizontal" href="#">Read More</a></h4>
                    </div>
                </div>
                <div class="item">
                    <!-- Third-Slide -->
                    <img src="assets/img/3.jpg" alt="" class="img-responsive">
                    <div class="carousel-caption kb_caption kb_caption_right">
                        <h1 data-animation="animated fadeInDown">We Provide Our best Service</h1>
                        <p data-animation="animated fadeInUp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled [...]</p>
                        <h4><a class="button hvr-shutter-out-horizontal" href="#">Read More</a></h4>
                    </div>
                </div>
            </div>
            <!-- Left-Button -->
            <a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
                <span class="fa fa-angle-left kb_icons" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <!-- Right-Button -->
            <a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
                <span class="fa fa-angle-right kb_icons" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>

</section>
<section id="event">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="event_1">
                    <h2>Vestibulum Lacinia</h2>
                    <p>Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.<br> acinia arcu eget nulla.torquent per conubia</p>
                </div>
                <div class="col-sm-6">
                    <div class="event_2">
                        <!-- colored -->
                        <div class="ih-item square colored effect14 bottom_to_top">
                            <a href="#">
                                <div class="img"><img src="../../assets/img/s1.png" height="340" alt="abc" class="img-responsive"></div>
                                <div class="info">
                                    <h3>DRIVING LESSONS</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
                                        tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. torquent per conubia nostra, per inceptos . Curabitursodales ligula in libero. Sed.</p>
                                </div>
                            </a>
                        </div>
                        <!-- end colored -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="event_2">
                        <!-- colored -->
                        <div class="ih-item square colored effect14 bottom_to_top">
                            <a href="#">
                                <div class="img"><img src="../../assets/img/s2.png" height="340" alt="abc" class="img-responsive"></div>
                                <div class="info">
                                    <h3>ROAD TEST SERVICE</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
                                        tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. torquent per conubia nostra, per inceptos . Curabitursodales ligula in libero. Sed.</p>
                                </div>
                            </a>
                        </div>
                        <!-- end colored -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="event_2">
                        <!-- colored -->
                        <div class="ih-item square colored effect14 bottom_to_top">
                            <a href="#">
                                <div class="img"><img src="../../assets/img/s6.png" width="570" height="340" alt="abc" class="img-responsive"></div>
                                <div class="info">
                                    <h3>Integer nec odionec</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
                                        tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. torquent per conubia nostra, per inceptos . Curabitursodales ligula in libero. Sed.</p>
                                </div>
                            </a>
                        </div>
                        <!-- end colored -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="event_2">
                        <!-- colored -->
                        <div class="ih-item square colored effect14 bottom_to_top">
                            <a href="#">
                                <div class="img"><img src="../../assets/img/s4.png" width="570" height="340" alt="abc" class="img-responsive"></div>
                                <div class="info">
                                    <h3>WRITTEN TEST</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
                                        tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. torquent per conubia nostra, per inceptos . Curabitursodales ligula in libero. Sed.</p>
                                </div>
                            </a>
                        </div>
                        <!-- end colored -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="news">
    <div class="container">
        <div class="row">
            <div class="news_main">
                <h2>BLOG POSTS</h2>
                <p>Agreed others exeter period myself few yet nature.<br/> Mention mr manners opinion if garrets..</p>
            </div>
            <div class="news_1 clearfix">
                <div class="col-sm-4">
                    <div class="news_main_1 clearfix">
                        <div class="news_2">
                            <div class="ih-item square effect13 left_to_right">
                                <a href="#">
                                    <div class="img"><img src="assets/img/11.jpg" alt="img"></div>
                                </a>
                            </div>
                        </div>
                        <div class="news_3">
                            <h3><a href="#">Boating and Sailing Tour</a></h3>
                            <ul>
                                <li><a href="#">City</a></li>
                                <li><a href="#">Tours,</a></li>
                                <li><a href="#">Urban</a></li>
                            </ul>
                        </div>
                        <div class="news_4">
                            <p>Son agreed others exeter period myself few yet nature. Mention mr manners opinion if garrets enabled. To an occasional dissimilar impossible sentiments</p>
                            <a class="button hvr-shutter-out-horizontal" href="#" class="button">View More</a>
                        </div>
                        <div class="news_5 clearfix">
                            <div class="news_7">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-calendar"></i></a></li>
                                    <li><a href="#"><i class="fa fa-user"></i></a></li>
                                    <li><a href="#"><i class="fa fa-tag"></i></a></li>
                                    <li><a href="#"><i class="fa fa-bank"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="news_main_1 clearfix">
                        <div class="news_2">
                            <div class="ih-item square effect13 left_to_right">
                                <a href="#">
                                    <div class="img"><img src="assets/img/12.jpg" alt="img"></div>
                                </a>
                            </div>
                        </div>
                        <div class="news_3">
                            <h3><a href="#">Mention mr manners </a></h3>
                            <ul>
                                <li><a href="#">City</a></li>
                                <li><a href="#">Tours,</a></li>
                                <li><a href="#">Urban</a></li>
                            </ul>
                        </div>
                        <div class="news_4">
                            <p>Son agreed others exeter period myself few yet nature. Mention mr manners opinion if garrets enabled. To an occasional dissimilar impossible sentiments</p>
                            <a class="button hvr-shutter-out-horizontal" href="#" class="button">View More</a>
                        </div>
                        <div class="news_5 clearfix">
                            <div class="news_7">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-calendar"></i></a></li>
                                    <li><a href="#"><i class="fa fa-user"></i></a></li>
                                    <li><a href="#"><i class="fa fa-tag"></i></a></li>
                                    <li><a href="#"><i class="fa fa-bank"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="news_main_1 clearfix">
                        <div class="news_2">
                            <div class="ih-item square effect13 left_to_right">
                                <a href="#">
                                    <div class="img"><img src="assets/img/13.jpg" alt="img"></div>
                                </a>
                            </div>
                        </div>
                        <div class="news_3">
                            <h3><a href="#">Son agreed others exeter</a></h3>
                            <ul>
                                <li><a href="#">City</a></li>
                                <li><a href="#">Tours,</a></li>
                                <li><a href="#">Urban</a></li>
                            </ul>
                        </div>
                        <div class="news_4">
                            <p>Son agreed others exeter period myself few yet nature. Mention mr manners opinion if garrets enabled. To an occasional dissimilar impossible sentiments</p>
                            <a class="button hvr-shutter-out-horizontal" href="#" class="button">View More</a>
                        </div>
                        <div class="news_5 clearfix">
                            <div class="news_7">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-calendar"></i></a></li>
                                    <li><a href="#"><i class="fa fa-user"></i></a></li>
                                    <li><a href="#"><i class="fa fa-tag"></i></a></li>
                                    <li><a href="#"><i class="fa fa-bank"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>