<app-header></app-header>
<section id="contact_main">
    <div class="container">
        <div class="row">
            <div class="contact_main_1">
                <h2>CONTACT</h2>
                <p><a href="#"> HOME </a> <i class="fa fa-angle-double-right"></i> <a href="#"> CONTACT </a></p>
            </div>
        </div>
    </div>
</section>
<section id="contact_inner">
    <iframe src="https://maps.google.com/maps?q=Alkasa%20society%20mohammedwadi%20hadapsar%20pune&t=&z=13&ie=UTF8&iwloc=&output=embed" height="400" style="border:0; width:100%;" allowfullscreen=""></iframe>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-8">
                    <div class="col-sm-12 padding_left_1">
                        <div class="contact_3">
                            <h2>Lorem Ipsum Dolor Sit Amet:</h2>
                            <p>Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 space_all">
                        <div class="col-sm-6">
                            <div class="contact_4">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="contact_4">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="contact_5">
                            <textarea placeholder="Message" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="contact_6">
                            <ul>
                                <li><a class="button hvr-shutter-out-horizontal" href="#" class="button">SEND</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact_7">
                        <h2>Connect With Us</h2>
                    </div>
                    <div class="contact_2">
                        <h4>Address:</h4>
                        <h5><i class="fa fa-home"></i><span class="media_1">123 Lorem ipsum dolor sit amet</span></h5>
                    </div>
                    <div class="contact_2">
                        <h4>Phones:</h4>
                        <h5><i class="fa fa-phone"></i><span class="media_1">123-4567-1234</span></h5>
                        <h5><i class="fa fa-calculator"></i><span class="media_1">432-5456-7658</span></h5>
                    </div>
                    <div class="contact_2">
                        <h4>E-mail:</h4>
                        <h5><i class="fa fa-envelope"></i><a href="#"><span class="media_2">info@gmail.com</span></a></h5>
                        <h5>Sed Dignissim Lacinia:<a href="#"><span class="media_3"> Porta</span></a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>