<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">

        <mat-card-header>
            <img src="../../../../assets/img/logo.jpg" alt="logo" class="logo-img">
            <h1 class="MuiTypography-h5">SIGN IN</h1>
        </mat-card-header>

        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>

            <div class="alert alert-danger" role="alert" *ngIf="isSubmitted && isLoginFailed">
                Login failed: {{ errorMessage }}
            </div>


            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email">

                    <mat-error *ngIf="errorHandling('email', 'required')">
                        You must provide <strong>Email</strong>
                    </mat-error>
                    <mat-error *ngIf="errorHandling('email', 'email')">
                        You must provide a valid <strong>Email</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">

                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>

                    <mat-error *ngIf="errorHandling('password', 'required')">
                        You must provide <strong>Password</strong>
                    </mat-error>
                </mat-form-field>


            </mat-card-content>
            <a routerLink="/admin/forgot-password">FORGOT PASSWORD ?</a>
            <button mat-raised-button color="accent" [class.spinner]="loading" [disabled]="loading">SUBMIT</button>
        </form>

        <div class="divider"></div>

        <a routerLink="/admin/register">REGISTER A NEW ACCOUNT</a>
    </mat-card>

</div>